In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw_data/sales.csv')
df.head()

,sale_id,customer_id,product_id,region_id,quantity,net_value,sale_date
0,1,1,1,1,1,4200,2024-01-15
1,2,2,2,2,1,3800,2024-01-20
2,3,3,3,3,2,5800,2024-02-05
3,4,4,4,4,1,1200,2024-02-17
4,5,5,5,1,3,750,2024-03-01

In [6]:
df['sales'] = df['net_value'] * df['quantity']
df['sale_date'] = pd.to_datetime(df['sale_date'])
summary = df.groupby(df['sale_date'].dt.to_period('M'))['sales'].sum()

print(summary)

sale_date
2024-01     8000
2024-02    12800
2024-03     7850
2024-04     9800
Freq: M, Name: sales, dtype: int64